
body {
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
    width: 100vw;
    background-image: url("FUNDO.gif");
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login-card{
    width: 60px;
    background: rgba(69, 1, 147, 7);
    padding: 9rem;
    border-radius: 5px;
    position: relative;
}
.login-card::before{
    content: '';
    position: absolute;
    background: rgba(69, 1, 147, 7);
    inset: 0;
    transform: rotate(-5px);
    z-index: -1;
}
.login-card-logo{
    margin-bottom: 2rem;;
}
.login-card-logo{
    width: 60px;
}
.login-card-logo,
.login-card header,
.login-card-footer{
    text-align: center;
}
.login-card a{
    text-decoration: none;
    color: #35339a;
}
.login-card a:hover{
    text-decoration: underline;  
}
.login-card-header{
    margin-bottom: 2rem;  
}
.login-card-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: -5rem;
}
.login-card-header h1 + div{
    font-size: calc(1rem * .8);
    opacity: .8;
}
h1 {
    font-family: Arial;
    font-size: 30pt;
    color: blue;
    text-shadow: 2px 2px 2px orange; 
} 
h2{
    font-family: Arial;
    font-size: 10pt;
    color: white;
    text-shadow: 2px 2px 2px purple;
}
.login-card-form{
   display: flex;
   flex-direction: column;
   gap: 1.5rem; 
}
.login-card form .form-item{
    position: relative;
}
#--.login-card-form .form-item .form-item-icon{
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}--resolver
.login-card-form .checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}
.login-card-form .form-item-other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8rem);
    margin-bottom: .5rem;
}
.login-card-footer{
    margin-top: 1.5rem;
    font-size: calc(1rem * .8rem); 
}
.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="Email"]{
    border: none;
    outline: none;
    background-color: white;
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100px;
    transition: background .5s;
}
.login-card input:focus{
  background: white;
}
.login-card input[type="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: black; 
}
.login-card-form button{
    background: black;
    color: white;
    padding: 2rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;   
}
.login-card-form button:focus:hover{
    background-color:rgba(0, 0, 0, 5);
    cursor: pointer;
}

.login-card-social{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}
.login-card-social > div{
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1rem * .8);
}
.login-card-social-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.login-card-social-btns a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 6);
    border-radius: 100px;
    transition: all .5s;
}
.login-card-social-btns a:hover{
   background: white;
   transform: scale(1.1); 
}
@media(max-width:768px){
    body{
        padding: 2rem 0;
    }
}
.login-card{
    width: 280px;
    padding: 2rem;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  } 

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="Email"]{
    border: 2px solid black;
    outline: none;
    background-color: white;
    padding: 1rem 1.5rem;
    padding-left: calc(5.6rem * 3.5);
    border-radius: 100px;
    width: 100px;
    transition: background .5s;
}

.login-card input[type="text"], .login-card-input[type="password"], .login-card-input[type="Email"]{
  border: 2px solid black;
  outline: none;
  width: 100%;
  padding: 1rem 1.5rem;
  padding-left: calc(5.6rem * 3.5);
  border-radius: 100px;
  width: 100px;
  transition: background .5s;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="Email"]{
    border: 2px none;
    outline-style: none;
    background-color: white;
    padding: 1rem 3.5rem;
    padding-left: calc(1rem * 3.5);
    border-style: ridge;
    border-radius: 100px;
    width: 100px;
    transition: background .5s;
}

$p: hsl(213deg 85% 97%);
$s: hsl(233deg 36% 38%);
* { font-family: 'Poppins' }
@mixin screen {
	background: $p;
	padding: 2em;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	box-shadow: 0 0 2em hsl(231deg 62% 94%);
}
body {
	user-select: none;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: hsl(218deg 50% 91%);
	height: 100vh;
}
.screen-1 {
	@include screen;
	gap: 2em;
	.logo { margin-top: -3em }
	.email {
		background: hsl(0deg 0% 100%);
		box-shadow: 0 0 2em hsl(231deg 62% 94%);
		padding: 1em;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		border-radius: 20px;
		color: hsl(0deg 0% 30%);
		margin-top: -3em;
		input {
			outline: none;
			border: none;
			&::placeholder {
				color: hsl(0deg 0% 0%);
				font-size: 0.9em;
			}
		}
		ion-icon {
			color: hsl(0deg 0% 30%);
			margin-bottom: -.2em;
		}
	}
	.password {
		background: hsl(0deg 0% 100%);
		box-shadow: 0 0 2em hsl(231deg 62% 94%);
		padding: 1em;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		border-radius: 20px;
		color: hsl(0deg 0% 30%);
		input {
			outline: none;
			border: none;
			&::placeholder {
				color: hsl(0deg 0% 0%);
				font-size: 0.9em;
			}
		}
		ion-icon {
			color: hsl(0deg 0% 30%);
			margin-bottom: -.2em;
		}
		.show-hide {
			margin-right: -5em;
		}
	}
	.login {
		padding: 1em;
		background: hsl(233deg 36% 38%);
		color: hsl(0 0 100);
		border: none;
		border-radius: 30px;
		font-weight: 600;
	}
	.footer {
		display: flex;
		font-size: 0.7em;
		color: hsl(0deg 0% 37%);
		gap: 14em;
		padding-bottom: 10em;
		span { cursor: pointer }
	}
}

button { cursor: pointer; }

input[type="text"]{
border: 2px none;
outline-style: none;
padding: 1rem 3.5rem;
padding-left: calc(1rem * 3.5);
margin: 8px;
box-sizing: border-box;
border-style: ridge;
border-radius: 100px;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"]{
    border: none;
    outline-style: none;
    background-color: white;
    padding: 1px 3.5rem;
    padding-top: 5px;
    padding-left: calc(2.5rem * 2.5);
    border-style: dotted dashed solid double;
}





________________________________________________________________________________________________

#login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login-card{
  background-image: url(Borda.gif);
  padding: 40px;
  border-radius: 7px;
  position: relative;
  width: 480px;
}
.login-card-header{
  padding-bottom: 50px;
  padding: 9px;
  border-radius: 5px;
  opacity: 0.8;
  color: white;
}
.login-card::after{
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  display: block;
  inset: 0;
  transform: rotate(-5px);
  margin-top: -17px;
  margin-left: -5px;
}
.login-card-label{
  background: #fbfbfb;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 1px 2px 8px
}
.login-card-header,
.login-card-footer{
  text-align: center;
}
.login-card-area{
  display: flex;
  text-decoration: none;
  color: #35339a;
  flex-direction: column;
  padding: 10px 0;
}
.login-card-header{
  margin-bottom: 2rem;   
}
.login-card-header h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: -5rem;
}
.login-card-header h1 + div{
  font-size: calc(1rem * .8);
  opacity: .8;
}
h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial;
  font-size: 30pt;
  color: blue;
  text-shadow: 2px 2px 2px orangered; 
} 
h2{
  font-family: Arial;
  font-size: 10pt;
  color: white;
  text-shadow: 2px 2px 2px purple;
}
h3{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial;
  font-size: 20pt;
  color: orangered;
  text-shadow: 2px 2px 2px black;
}
.login-card-form .checkbox{
  display: flexbox;
  margin: 0 12px 0 0;
  flex-direction: column;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  gap: 9px;
  top: -1px;
}
.login-card-form .form-item-other{
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: calc(1rem * .8rem);
  margin-bottom: .5rem;
}
.login-card-footer{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
__________________________________________________________________________________________________________________________________
body {
	margin:0;
	color:#edf3ff;
	background:#c8c8c8;
	background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;
	background-size: cover;
	font:600 16px/18px 'Open Sans',sans-serif;
}
:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width: 100%;
	margin:auto;
	max-width:510px;
	min-height:510px;
	position:relative;
	background:url(https://maxcdn.icons8.com/app/uploads/2016/03/material-1-1000x563.jpg) no-repeat center;
	background-size: cover;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(0,0,0,0.5);
}
.login-html .sign-in-htm,
.login-html .for-pwd-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .for-pwd,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .for-pwd:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}